.Logo{
    width: 3%;
    height: 3%;
}
.font{
    font-family: 'Josefin Sans', sans-serif;
    
}
.img{
    width: 4%;
    height: 4%;
}
#navTTT{
    margin-left: 20px;
}
.navT{
    color: black;
    font-size: 110%;
}
.navT:hover{
    color: rgb(71, 71, 71);
    text-decoration: none;
    background-color: rgb(45, 101, 204);
    color: white;
    transition: 0.4s;
    
}
.FotoIG{
    padding-left: auto;
    padding-right: auto;
    width: 30%;
}
.box{
    margin: auto;
    width: 50%;
    border: 2.5px solid rgb(15, 15, 15);
    padding: 30px;
    text-align: center;
}
.fotodue{
    width: 100%;
    display:block;
}
.bottone{
    border-color: rgb(20, 20, 99);
    border-radius: 1px;
}
.inputt{
    border-color: rgb(20, 20, 99);
    border-radius: 1px;
}
.bottone:hover{
    background-color: rgb(45, 101, 204);
    transition: 0.4s;
    color: white;
}
a{
    font-family: 'DM Sans', sans-serif;
}
body{
    font-family: 'DM Sans', sans-serif;
}
.ig{
    /*border: 2.5px solid rgb(15, 15, 15);*/
    box-shadow: 5px 10px 18px #888888;
    padding-top: 10px;
    

    padding-left: 20px;
    
}
.ig2{
    /*border: 2.5px solid rgb(15, 15, 15);*/
    box-shadow: 5px 10px 18px #888888;
    padding-top: 10px;
    

    padding-left: 20px;
    
}
.megadiv{
    margin: auto;
    width: 80%;
    height: 30%;
    padding: 30px;
}
.imga{
    width: 104%;
    box-shadow: -2px 10px 18px #888888;
}
.imga2{
    width: 104%;
    box-shadow: 2px 10px 18px #888888;
}
.a{
    margin-left: 0%;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icona{
    font-size: 300px;
}
.jupi{
    text-decoration: none;
    color: rgb(70, 70, 70);
}
.jupi:hover{
    color:#888888;
}

.nomee{
    text-decoration: none;
    color: rgb(21, 25, 29);
}
.nomee:hover{
    text-decoration: none;
    color: rgb(21, 25, 29);
}
