.Logo{
    width: 3%;
    height: 3%;
}
.font{
    font-family: 'Josefin Sans', sans-serif;
    
}
.img{
    width: 4%;
    height: 4%;
}

.navT{
    color: black;
}
.navT:hover{
    color: black;
    text-decoration: none;
}